.list {
  margin-top: 60px;
  padding-bottom: 10px; }

.spacer {
  margin: 5px; }

.sm-photo {
  width: 40%;
  height: auto;
  margin-top: 25px; }

.sm-photo:hover {
  -webkit-animation: aia2 5s linear infinite alternate;
  -moz-animation: aia2 5s linear infinite alternate;
  -ms-animation: aia2 5s linear infinite alternate;
  -o-animation: aia2 5s linear infinite alternate;
  animation: aia2 5s linear infinite alternate; }

.button-list {
  padding: 5px;
  text-align: center;
  background: transparent;
  border: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 7px; }

.button-list li {
  padding-top: 10px;
  margin: 10px; }

.button-list:hover {
  background: #fff; }

.buttons {
  margin: 10px;
  padding: 10px; }

.naver {
  margin-top: 100px;
  color: #fff; }

.side-nav li a {
  color: #fff; }

.name {
  letter-spacing: .1em;
  line-height: 1em;
  font-family: 'Hind', sans-serif;
  font-weight: 200;
  padding-top: 7px; }

.ghost-baby {
  padding-top: 40px; }

.title-png {
  padding-top: 15px; }

.choice-area {
  height: 100%;
  width: auto;
  background: -webkit-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* W3C */
  overflow: scroll; }

.area {
  background: -webkit-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #0AE8A7 15%, #24FFBF 85%);
  /* W3C */
  overflow: scroll; }
